
<section class="content">
    <div class="about-hero z1">
        <div class="inner text-center narrow">
            <h1>About us </h1>
            <h2>Our mission is to create a world where companies are loved by customers and employees.</h2>
            <p></p><p>Over a thousand of the world’s leading brands trust Medallia Experience Cloud™, a software-as-a-service (SaaS) platform, to win through customer experience. Through our platform we capture feedback everywhere their customers are, understand it in real-time, and deliver insights and action across their organization. This empowers organizations and their employees to embed the pulse of the customer into their daily decisions. Through Medallia Experience Cloud, companies can create more loyal customers, grow faster, reduce costs and improve corporate culture.</p>
            <p></p>
        </div>
        <div class="after"></div>
    </div>
    <div id="medallians" class="about-section parallax-window" data-parallax="scroll" data-image-src="/wp-content/uploads/2016/02/about_medallians_sm.jpg">
        <div class="mobile-about-bg bg-cover hidden" ></div>
        <div class="about-box vertical-middle shadow">
            <p><span class="about-count">1,000+</span></p>
            <h2>MEDALLIANS</h2>
            <p></p><p>We are a company powered by a growth mindset. Every Medallian brings their whole self to work to create a culture of inclusion, creativity and innovation.</p>
            <p><a href="/careers/">See Careers</a> <a href="/leadership/">See Leadership</a></p>
            <p></p>
        </div>
    </div>
    <div id="global-offices" class="about-section parallax-window" data-parallax="scroll" data-image-src="/wp-content/uploads/2016/02/world-map-background-sm.jpg">
        <div class="mobile-about-bg bg-cover hidden" ></div>
        <div class="about-box vertical-middle shadow">
            <p><span class="about-count">15+</span></p>
            <h2>Global Offices</h2>
            <p></p><p>We are a fast growing worldwide network across San Mateo, New York, London, Paris, Sydney, Buenos Aires, and Tel Aviv.</p>
            <p><a href="/contact-us/">Contact Us</a> <a href="/press-room/">See Press</a></p>
            <p></p>
        </div>
    </div>
    <div id="brands" class="about-section parallax-window" data-parallax="scroll" data-image-src="/wp-content/uploads/2016/02/about-sm.jpg">
        <div class="mobile-about-bg bg-cover hidden" ></div>
        <div class="about-box vertical-middle shadow">
            <p><span class="about-count">1,000+</span></p>
            <h2>Leading Brands</h2>
            <p></p><p>Over a thousand of the world’s best-loved brands trust Medallia to help them become truly customer-obsessed.</p>
            <p><a href="/customers/">See Customers</a></p>
            <p></p>
        </div>
    </div>
    <div id="services" class="about-section parallax-window" data-parallax="scroll" data-image-src="/wp-content/uploads/2016/02/services-sm.jpg">
        <div class="mobile-about-bg bg-cover hidden"></div>
        <div class="about-box vertical-middle shadow">
            <p><span class="about-count">100%</span></p>
            <h2>Implementation Rate</h2>
            <p></p><p>From implementation services to customer service &amp; support to insights &amp; training, our service professionals and partner ecosystem are your guides to improving your customer experiences.</p>
            <p><a href="/services/">See Services</a>&nbsp;<a href="/partners/">See Partners</a></p>
            <p></p>
        </div>
    </div>
    <div id="interactions" class="about-section parallax-window" data-parallax="scroll" data-image-src="/wp-content/uploads/2016/02/globe_style-sm.jpg">
        <div class="mobile-about-bg bg-cover hidden"></div>
        <div class="about-box vertical-middle shadow">
            <p><span class="about-count">1B+</span></p>
            <h2>Comments Processed <span>Per Quarter</span></h2>
            <p></p><p>Our platform has unsurpassed scalability across a billion comments each quarter and thousands of our customers’ employees in the largest global organizations.</p>
            <p><a href="/platform/">See our Platform</a></p>
            <p></p>
        </div>
    </div>
</section>
